.courseDetailsPage{
    background-color: rgb(227, 242, 237);
    min-height: 80vh;
}

.card-box{
    background-color: rgb(248, 249, 251);
    min-height: 35vh;
}

.lessons-card{
    background-color: rgb(248, 249, 251);
    min-height: 35vh;
    max-width: 100%;
    min-width: 100%;
}