.courseDetailsTitleBox{
    background-color: #000;
}

h1{
    color: #fff;
}

.courseDetailsBox {
    background-color: #fff;
    min-height: 60vh;
}

.DescriptionBox{
    border: black solid 1px;
    color: black;
}

.addtoCart {
    min-height: 80vh;
}